<ion-view title="1° Año Abogacía" id="page8" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="1AOAbogacA-list95">
      <ion-item class="item-divider" id="1AOAbogacA-list-item-divider2"> Anuales</ion-item>
    </ion-list>
    <ion-list id="1AOAbogacA-list96">
      <ion-item class="item-icon-left dark" id="1AOAbogacA-list-item26" ui-sref="csJurDicasUNLaR.introducciNAlDerecho()">
        <i class="icon ion-university"></i>Introducción al Derecho</ion-item>
    </ion-list>
    <ion-list id="1AOAbogacA-list97">
      <ion-item class="item-icon-left dark" id="1AOAbogacA-list-item37" ui-sref="csJurDicasUNLaR.derechoRomano()">
        <i class="icon ion-university"></i>Derecho Romano</ion-item>
    </ion-list>
    <ion-list id="1AOAbogacA-list119">
      <ion-item class="item-icon-left dark" id="1AOAbogacA-list-item40" ui-sref="csJurDicasUNLaR.derechoCivilIParteGeneral()">
        <i class="icon ion-university"></i>Derecho Civil I (Parte General)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AOAbogacA-list98">
      <ion-item class="item-divider" id="1AOAbogacA-list-item-divider4"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="1AOAbogacA-list99">
      <ion-item class="item-icon-left dark" id="1AOAbogacA-list-item41" ui-sref="csJurDicasUNLaR.introducciNALaFilosofA()">
        <i class="icon ion-university"></i>Introducción a la Filosofía</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AOAbogacA-list94">
      <ion-item class="item-divider" id="1AOAbogacA-list-item-divider3"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AOAbogacA-list-item43" ui-sref="csJurDicasUNLaR.historiaDelDerecho()">
        <i class="icon ion-university"></i>Historia del Derecho</ion-item>
      <ion-item class="item-icon-left dark" id="1AOAbogacA-list-item109" ui-sref="csJurDicasUNLaR.economAPolTica()">
        <i class="icon ion-university"></i>Economía Política</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>