<ion-view title="2° Año Abogacía" id="page9" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="2AOAbogacA-list74">
      <ion-item class="item-divider" id="2AOAbogacA-list-item-divider5"> Anuales</ion-item>
      <ion-item class="item-icon-left dark" id="2AOAbogacA-list-item29" ui-sref="csJurDicasUNLaR.derechoCivilIIObligaciones()">
        <i class="icon ion-university"></i>Derecho Civil II (Obligaciones)</ion-item>
      <ion-item class="item-icon-left dark" id="2AOAbogacA-list-item30" ui-sref="csJurDicasUNLaR.derechoPolTico()">
        <i class="icon ion-university"></i>Derecho Político</ion-item>
      <ion-item class="item-icon-left dark" id="2AOAbogacA-list-item31" ui-sref="csJurDicasUNLaR.finanzasYDerechoTributario()">
        <i class="icon ion-university"></i>Finanzas y Derecho Tributario</ion-item>
    </ion-list>
    <ion-list id="2AOAbogacA-list122">
      <ion-item class="item-icon-left dark" id="2AOAbogacA-list-item49" ui-sref="csJurDicasUNLaR.derechoComercialI()">
        <i class="icon ion-university"></i>Derecho Comercial I</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="2AOAbogacA-list77">
      <ion-item class="item-divider" id="2AOAbogacA-list-item-divider6"> 2° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="2AOAbogacA-list8">
      <ion-item class="item-icon-left dark" id="2AOAbogacA-list-item32" ui-sref="csJurDicasUNLaR.sociologA()">
        <i class="icon ion-university"></i>Sociología</ion-item>
      <ion-item class="item-icon-left dark" id="2AOAbogacA-list-item50" ui-sref="csJurDicasUNLaR.filosofADelDerecho()">
        <i class="icon ion-university"></i>Filosofía del Derecho</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>