<ion-view title="3° Año Abogacía" id="page10" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="3AOAbogacA-list101">
      <ion-item class="item-divider" id="3AOAbogacA-list-item-divider8"> Anuales</ion-item>
    </ion-list>
    <ion-list id="3AOAbogacA-list103">
      <ion-item class="item-icon-left dark" id="3AOAbogacA-list-item35" ui-sref="csJurDicasUNLaR.derechoCivilIIIContratos()">
        <i class="icon ion-university"></i>Derecho Civil III (Contratos)</ion-item>
    </ion-list>
    <ion-list id="3AOAbogacA-list104">
      <ion-item class="item-icon-left dark" id="3AOAbogacA-list-item36" ui-sref="csJurDicasUNLaR.derechoComercialIISociedades()">
        <i class="icon ion-university"></i>Derecho Comercial II (Sociedades)</ion-item>
    </ion-list>
    <ion-list id="3AOAbogacA-list105">
      <ion-item class="item-icon-left dark" id="3AOAbogacA-list-item190" ui-sref="csJurDicasUNLaR.derechoConstitucional()">
        <i class="icon ion-university"></i>Derecho Constitucional</ion-item>
    </ion-list>
    <ion-list id="3AOAbogacA-list123">
      <ion-item class="item-icon-left dark" id="3AOAbogacA-list-item191" ui-sref="csJurDicasUNLaR.derechoPenalIParteGeneral()">
        <i class="icon ion-university"></i>Derecho Penal I (Parte General)</ion-item>
    </ion-list>
    <ion-list id="3AOAbogacA-list124">
      <ion-item class="item-icon-left dark" id="3AOAbogacA-list-item192" ui-sref="csJurDicasUNLaR.derechoLaboralYPrevicional()">
        <i class="icon ion-university"></i>Derecho Internacional Público y Comunitario</ion-item>
    </ion-list>
    <ion-list id="3AOAbogacA-list125">
      <ion-item class="item-icon-left dark" id="3AOAbogacA-list-item193" ui-sref="csJurDicasUNLaR.derechoLaboralYPrevicional()">
        <i class="icon ion-university"></i>Derecho Laboral y Previcional</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>