<ion-view title="4° Año Abogacía" id="page42" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="4AOAbogacA-list107">
      <ion-item class="item-divider" id="4AOAbogacA-list-item-divider11"> Anuales</ion-item>
    </ion-list>
    <ion-list id="4AOAbogacA-list109">
      <ion-item class="item-icon-left dark" id="4AOAbogacA-list-item198" ui-sref="csJurDicasUNLaR.derechoCivilIVDerechosReales()">
        <i class="icon ion-university"></i>Derecho Civil IV (Derechos Reales)</ion-item>
    </ion-list>
    <ion-list id="4AOAbogacA-list110">
      <ion-item class="item-icon-left dark" id="4AOAbogacA-list-item199" ui-sref="csJurDicasUNLaR.derechoComercialIIIQuiebras()">
        <i class="icon ion-university"></i>Derecho Comercial III (Quiebras)</ion-item>
    </ion-list>
    <ion-list id="4AOAbogacA-list111">
      <ion-item class="item-icon-left dark" id="4AOAbogacA-list-item201" ui-sref="csJurDicasUNLaR.derechoPBlicoProvincialYMunicipal()">
        <i class="icon ion-university"></i>Derecho Público Provincial y Municipal</ion-item>
    </ion-list>
    <ion-list id="4AOAbogacA-list112">
      <ion-item class="item-icon-left dark" id="4AOAbogacA-list-item202" ui-sref="csJurDicasUNLaR.derechoPenalIIParteEspecial()">
        <i class="icon ion-university"></i>Derecho Penal II (Parte Especial)</ion-item>
    </ion-list>
    <ion-list id="4AOAbogacA-list126">
      <ion-item class="item-icon-left dark" id="4AOAbogacA-list-item203" ui-sref="csJurDicasUNLaR.derechoProcesalCivilYLaboral()">
        <i class="icon ion-university"></i>Derecho Procesal Civil y Laboral</ion-item>
    </ion-list>
    <ion-list id="4AOAbogacA-list127">
      <ion-item class="item-icon-left dark" id="4AOAbogacA-list-item204" ui-sref="csJurDicasUNLaR.derechoAgrarioForestalYMinero()">
        <i class="icon ion-university"></i>Derecho Agrario Forestal y Minero</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>