<ion-view title="5° Año Abogacía" id="page43" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="5AOAbogacA-list45">
      <ion-item class="item-divider" id="5AOAbogacA-list-item-divider14"> Anuales</ion-item>
      <ion-item class="item-icon-left dark" id="5AOAbogacA-list-item215" ui-sref="csJurDicasUNLaR.derechoCivilVFamiliaYSucesiones()">
        <i class="icon ion-university"></i>Derecho Civil V (Familia y Sucesiones)</ion-item>
    </ion-list>
    <ion-list id="5AOAbogacA-list114">
      <ion-item class="item-icon-left dark" id="5AOAbogacA-list-item216" ui-sref="csJurDicasUNLaR.derechoDeNavegaciN()">
        <i class="icon ion-university"></i>Derecho de Navegación</ion-item>
    </ion-list>
    <ion-list id="5AOAbogacA-list115">
      <ion-item class="item-icon-left dark" id="5AOAbogacA-list-item217" ui-sref="csJurDicasUNLaR.derechoAdministrativo()">
        <i class="icon ion-university"></i>Derecho Administrativo</ion-item>
    </ion-list>
    <ion-list id="5AOAbogacA-list128">
      <ion-item class="item-icon-left dark" id="5AOAbogacA-list-item219" ui-sref="csJurDicasUNLaR.TicaProfesionalYPrCticaForense()">
        <i class="icon ion-university"></i>Ética Profesional y Práctica Forense</ion-item>
    </ion-list>
    <ion-list id="5AOAbogacA-list129">
      <ion-item class="item-icon-left dark" id="5AOAbogacA-list-item220" ui-sref="csJurDicasUNLaR.derechoProcesalPenal()">
        <i class="icon ion-university"></i>Derecho Procesal Penal</ion-item>
      <ion-item class="item-icon-left dark" id="5AOAbogacA-list-item221" ui-sref="csJurDicasUNLaR.derechoInternacionalPrivadoYComunitario()">
        <i class="icon ion-university"></i>Derecho Internacional Privado y Comunitario</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>