<ion-view title="Abogacía" id="page51" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="abogacA-button-bar2" class="button-bar"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/DDdNlqjMRCy3lhj8AwYJ_TxtAb1.png" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="abogacA-list113">
      <ion-item class="item-avatar dark" id="abogacA-list-item233" ui-sref="csJurDicasUNLaR.planDeAbogacA1998()">
        <img src="img/0ahDYpiZTI6NhfVFkm32_006tui.png">
        <h2dark>Plan de Estudios 1998</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="abogacA-list142">
      <ion-item class="item-avatar dark" id="abogacA-list-item100" ui-sref="csJurDicasUNLaR.planDeAbogacA2019()">
        <img src="img/0ahDYpiZTI6NhfVFkm32_006tui.png">
        <h2dark>Plan de Estudios 2019</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="abogacA-list118">
      <ion-item class="item-avatar dark" id="abogacA-list-item101" ui-sref="csJurDicasUNLaR.horariosDeAbogacA()">
        <img src="img/xyQU3nwNQmCsGRCoVFy8_005tui.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="abogacA-list117">
      <ion-item class="item-avatar dark" id="abogacA-list-item102" ui-sref="csJurDicasUNLaR.programasDeAbogacA()">
        <img src="img/rhmSGYUeRCqhx7lYqerW_004tui.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="abogacA-list116">
      <ion-item class="item-avatar dark" id="abogacA-list-item103" ui-sref="csJurDicasUNLaR.bibliotecaDigitalDeAbogacA()">
        <img src="img/CujgyT5lTEWxNRX8wNgO_003tui.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>