<ion-view title="Alcances del Título de Subastador y Martillero" id="page72">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>&nbsp;</div>
      <div>El Título de Técnico Universitario de Subastador y Martillero Público,&nbsp;capacita y habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Actuar en remates públicos y privados, judiciales y de hacienda.</p>
        <p>
          <span style="color: #ff6600;">►</span> Actuar en los negocios inmobiliarios intermediando entre la oferta y la&nbsp;demanda y concretando contratos.</p>
        <p>
          <span style="color: #ff6600;">►</span> Realizar evaluaciones de bienes muebles e inmuebles en forma particular&nbsp;y judicial.</p>
        <p>
          <span style="color: #ff6600;">►</span> Realizar la venta de todo tipo de bienes.</p>
        <p>
          <span style="color: #ff6600;">►</span> Auxiliar a la justicia en los procedimientos de prevención y ejecución&nbsp;judiciales.</p>
        <p>
          <span style="color: #ff6600;">►</span> Realizar gestiones administrativas dentro de las entidades&nbsp;gubernamentales que actúan en el sector relacionados con la subasta.</p>
        <p>
          <span style="color: #ff6600;">►</span> Recabar los informes necesarios ante los organismos correspondientes&nbsp;para el cumplimiento de sus funciones.</p>
        <p>
          <span style="color: #ff6600;">►</span> Requerir informes y realizar las actividades necesarias, accesorias o&nbsp;principales para llevar adelante los actos de remate o tasaciones.</p>
        <p>
          <span style="color: #ff6600;">►</span> Efectuar ventas en remates particulares, oficiales y judiciales de cualquier&nbsp;tipo y naturaleza de bienes, incluyendo acciones y títulos no cotizables en&nbsp;bolsa, marcas y patentes, cuya enajenación no se halle prohibida por
          la ley.&nbsp;</p>
      </div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>