<ion-view title="Alcances del Título de Gestión Jurídica" id="page69">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Título de Técnico Universitario en Gestión Jurídica capacita y habilita&nbsp;para:</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>
        <strong>a.-</strong>
        <strong>En el área jurídica,</strong>
      </div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Colaborar en la redacción de demandas y escritos judiciales, cartas&nbsp;documentos, contratos, convenios extrajudiciales, planillas, etc. Bajo la supervisión de un profesional habilitado.</p>
        <p>
          <span style="color: #ff6600;">►</span> Llevar a cabo tramites de la administración judicial.</p>
        <p>
          <span style="color: #ff6600;">►</span> Desempeñarse como auxiliar de la justicia.&nbsp;</p>
      </div>
      <div>&nbsp;</div>
      <div>
        <strong>b.-</strong>
        <strong>En el área administrativa,</strong>
      </div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Realizar trámites en estudios jurídicos y notariales y ante organismos&nbsp;públicos y privados relacionados con el área contable y económica&nbsp;(gestiones bancarias, de proyectos de inversión, de cobranzas y&nbsp;pagos, etc.)&nbsp;</p>
        <p>
          <span style="color: #ff6600;">► </span>Colaborar en la elaboración de informes que reflejen la situación&nbsp;financiera de la empresa y su inserción en el contexto socioeconómico.</p>
      </div>
      <div>&nbsp;</div>
      <div>
        <strong>c.-</strong>
        <strong>En el área social:</strong>
      </div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Colaborar en la capacitación de recursos administrativos para su&nbsp;desempeño eficaz en el contexto de la administración judicial y&nbsp;en ámbito jurídico.</p>
        <p>
          <span style="color: #ff6600;">►</span> Manejar las nuevas tecnologías de la información (NTIC) para&nbsp;producir información actualizada, con impacto en la redacción de&nbsp;documentos jurídicos y en las tareas inherentes a su actividad&nbsp;gestora.&nbsp;</p>
      </div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>