<ion-view title="Alcances del Título de Escribano" id="page65">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Alcances del Titulo</span>
      </h4>
      <div>El título de Escribano que otorga la Universidad Nacional de La Rioja habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <p>1. Labrar escrituras públicas y ejercer la función notarial.</p>
        <p>2. Recibir y redactar conforme a las leyes, los actos, y contratos que le fueren encomendados y dar carácter de autenticidad a los hechos, declaraciones y convenciones que ante él se desarrollen, formularen o expusieren, cuando para ello fuera
          necesaria su intervención.</p>
        <p>3. Certificar la autenticidad de firmas, de impresiones digitales, de copias, de vigencia de contratos, la existencia de personas físicas y jurídicas, la recepción de depósitos de dinero, valores, documentos y otras cosas, el alcance de representaciones
          y poderes.</p>
        <p>4. Poner cargo a los escritos, practicar inventarios, expedir testimonios sobre asientos y actas de libros de comercio y labrar toda clase de actas.</p>
        <p>5. Asesorar y emitir dictámenes orales o escritos en lo relativo a cuestiones jurídico notariales en general.</p>
        <p>6. Ejercer la docencia e investigación dentro del ámbito de su competencia.</p>
      </div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>