<ion-view title="Alcances del Título de Procurador" id="page67">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El título de Procurador que otorga la Universidad Nacional de La Rioja habilita para:</div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Asesorar a empresas públicas y privadas, respecto a trámites administrativos.</p>
        <p>
          <span style="color: #ff6600;">►</span> Representar en juicio a terceros con el patrocinio de un abogado.</p>
        <p>
          <span style="color: #ff6600;">►</span> Ejercer su labor en forma independiente.</p>
        <p>
          <span style="color: #ff6600;">►</span> Gestionar procesos judiciales y tramitaciones administrativas ante las distintas reparticiones públicas y privadas.</p>
      </div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>