<ion-view title="Biblioteca Digital de Abogacía" id="page4" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/OyXOVFIwQEnxd8ShmHVw_biblioteca-virtual1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeAbogacA-list6">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeAbogacA-list-item20" ui-sref="csJurDicasUNLaR.1AOAbogacA()">
        <i class="icon ion-university"></i>1° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeAbogacA-list63">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeAbogacA-list-item21" ui-sref="csJurDicasUNLaR.2AOAbogacA()">
        <i class="icon ion-university"></i>2° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeAbogacA-list62">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeAbogacA-list-item22" ui-sref="csJurDicasUNLaR.3AOAbogacA()">
        <i class="icon ion-university"></i>3° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeAbogacA-list39">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeAbogacA-list-item131" ui-sref="csJurDicasUNLaR.4AOAbogacA()">
        <i class="icon ion-university"></i>4° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeAbogacA-list144">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeAbogacA-list-item236" ui-sref="csJurDicasUNLaR.5AOAbogacA()">
        <i class="icon ion-university"></i>5° Año</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeAbogacA-list53">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeAbogacA-list-item130" ui-sref="csJurDicasUNLaR.extracurricularesAbogacA()">
        <i class="icon ion-university"></i>Extracurriculares</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>