<ion-view title="Biblioteca Digital de Procuración" id="page80" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/OyXOVFIwQEnxd8ShmHVw_biblioteca-virtual1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeProcuraciN-list175">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeProcuraciN-list-item178" ui-sref="csJurDicasUNLaR.1AOAbogacA()">
        <i class="icon ion-university"></i>1° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeProcuraciN-list176">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeProcuraciN-list-item179" ui-sref="csJurDicasUNLaR.2AOAbogacA()">
        <i class="icon ion-university"></i>2° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeProcuraciN-list177">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeProcuraciN-list-item180" ui-sref="csJurDicasUNLaR.3AOAbogacA()">
        <i class="icon ion-university"></i>3° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeProcuraciN-list178">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeProcuraciN-list-item181" ui-sref="csJurDicasUNLaR.4AOAbogacA()">
        <i class="icon ion-university"></i>4° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigitalDeProcuraciN-list179">
      <ion-item class="item-icon-left dark" id="bibliotecaDigitalDeProcuraciN-list-item183" ui-sref="csJurDicasUNLaR.5AOAbogacA()">
        <i class="icon ion-university"></i>5° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>