<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="side-menu-left ">
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <img src="img/6yIweR2ETNSpzhlWh8bF_LogoJuridicas5.png" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="csJurDicasUNLaR-list93">
        <ion-item class="item-icon-right assertive" id="csJurDicasUNLaR-list-item93" ui-sref="csJurDicasUNLaR.inicio()" menu-close="">Inicio
          <i class="icon ion-android-exit"></i>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="csJurDicasUNLaR-list-item95" ui-sref="csJurDicasUNLaR.abogacA()" menu-close="">Abogacía
          <i class="icon ion-android-exit"></i>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="csJurDicasUNLaR-list-item94" ui-sref="csJurDicasUNLaR.escribanA()" menu-close="">Escribanía
          <i class="icon ion-android-exit"></i>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="csJurDicasUNLaR-list-item99" ui-sref="csJurDicasUNLaR.procuraciN()" menu-close="">Procuración
          <i class="icon ion-android-exit"></i>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="csJurDicasUNLaR-list-item98" ui-sref="csJurDicasUNLaR.gestiNJurDica()" menu-close="">Tec. en Gestión Jurídica
          <i class="icon ion-android-exit"></i>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="csJurDicasUNLaR-list-item107" ui-sref="csJurDicasUNLaR.subastadorYMartilleroPBlico()" menu-close="">Tec. Subastador y Martillero Público
          <i class="icon ion-android-exit"></i>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="csJurDicasUNLaR-list-item97" ui-sref="csJurDicasUNLaR.calendarioAcadMico()" menu-close="">Calendario Académico
          <i class="icon ion-android-exit"></i>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="csJurDicasUNLaR-list-item96" ui-sref="csJurDicasUNLaR.acercaDeLaApp()" menu-close="">Acerca de la App
          <i class="icon ion-android-exit"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>