<ion-view title="Derecho Público Provincial y Municipal" id="page34" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="derechoPBlicoProvincialYMunicipal-list55">
      <ion-item class="item-icon-right dark" id="derechoPBlicoProvincialYMunicipal-list-item209">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>