<ion-view title="Derecho Internacional Privado y Comunitario" id="page50" style="background-color:#7067E2;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="derechoInternacionalPrivadoYComunitario-list78">
      <ion-item class="item-icon-right dark" id="derechoInternacionalPrivadoYComunitario-list-item156">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>