<ion-view title="Derecho Civil III (Contratos)" id="page25" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="derechoCivilIIIContratos-list36">
      <ion-item class="item-icon-right dark" id="derechoCivilIIIContratos-list-item152" href-inappbrowser="https://drive.google.com/file/d/1AcT2aPVSpMt9nvc_bMFfk-gGDj13P5Hr/view?usp=sharing">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>