<ion-view title="Derecho Comercial II (Sociedades)" id="page26" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="derechoComercialIISociedades-list23">
      <ion-item class="item-icon-right dark" id="derechoComercialIISociedades-list-item163">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>