<ion-view title="Derecho Internacional Público y Comunitario" id="page29" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="derechoInternacionalPBlicoYComunitario-list44">
      <ion-item class="item-icon-right dark" id="derechoInternacionalPBlicoYComunitario-list-item176">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>