<ion-view title="Escribanía" id="page56" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="escribanA-button-bar3" class="button-bar"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/h7rqGOlnSzhfs7ChBpCJ_TxtEs1.png" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="escribanA-list100">
      <ion-item class="item-avatar dark" id="escribanA-list-item106" ui-sref="csJurDicasUNLaR.planDeEscribanA()">
        <img src="img/0ahDYpiZTI6NhfVFkm32_006tui.png">
        <h2dark>Plan de Estudios</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="escribanA-list106">
      <ion-item class="item-avatar dark" id="escribanA-list-item112" ui-sref="csJurDicasUNLaR.horariosDeEscribanA()">
        <img src="img/xyQU3nwNQmCsGRCoVFy8_005tui.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="escribanA-list108">
      <ion-item class="item-avatar dark" id="escribanA-list-item113" ui-sref="csJurDicasUNLaR.programasDeEscribanA()">
        <img src="img/rhmSGYUeRCqhx7lYqerW_004tui.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="escribanA-list120">
      <ion-item class="item-avatar dark" id="escribanA-list-item114" ui-sref="csJurDicasUNLaR.bibliotecaDigitalDeEscribanA()">
        <img src="img/CujgyT5lTEWxNRX8wNgO_003tui.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>