<ion-view title="Gestión Jurídica" id="page58" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="gestiNJurDica-button-bar5" class="button-bar"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/MkPCjyE9TyejjPXbUN1y_TxtTGJ1.png" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="gestiNJurDica-list145">
      <ion-item class="item-avatar dark" id="gestiNJurDica-list-item127" ui-sref="csJurDicasUNLaR.planDeGestiNJurDica()">
        <img src="img/0ahDYpiZTI6NhfVFkm32_006tui.png">
        <h2dark>Plan de Estudios</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="gestiNJurDica-list146">
      <ion-item class="item-avatar dark" id="gestiNJurDica-list-item132" ui-sref="csJurDicasUNLaR.horariosDeGestiNJurDica()">
        <img src="img/xyQU3nwNQmCsGRCoVFy8_005tui.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="gestiNJurDica-list147">
      <ion-item class="item-avatar dark" id="gestiNJurDica-list-item133" ui-sref="csJurDicasUNLaR.programasDeGestiNJurDica()">
        <img src="img/rhmSGYUeRCqhx7lYqerW_004tui.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="gestiNJurDica-list148">
      <ion-item class="item-avatar dark" id="gestiNJurDica-list-item141" ui-sref="csJurDicasUNLaR.bibliotecaDigitalDeGestiNJurDica()">
        <img src="img/CujgyT5lTEWxNRX8wNgO_003tui.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>