<ion-view title="Horarios de Abogacía" id="page3" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/rrmwu5nCRfekziRhFocf_Horarios.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeAbogacA-list60">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeAbogacA-list-item17" ui-sref="csJurDicasUNLaR.horarioIngresoAbogacA()">
        <i class="icon ion-calendar"></i>Cursillo de Ingreso
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeAbogacA-list61">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeAbogacA-list-item224" ui-sref="csJurDicasUNLaR.horario1CAbogacA()">
        <i class="icon ion-calendar"></i>1° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeAbogacA-list10">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeAbogacA-list-item18" ui-sref="csJurDicasUNLaR.horario2CAbogacA()">
        <i class="icon ion-calendar"></i>2° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>