<ion-view title="Horarios de Procuración" id="page74" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/rrmwu5nCRfekziRhFocf_Horarios.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeProcuraciN-list154">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeProcuraciN-list-item148" ui-sref="csJurDicasUNLaR.horarioIngresoProcuraciN()">
        <i class="icon ion-calendar"></i>Cursillo de Ingreso
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeProcuraciN-list155">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeProcuraciN-list-item149" ui-sref="csJurDicasUNLaR.horario1CProcuraciN()">
        <i class="icon ion-calendar"></i>1° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeProcuraciN-list156">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeProcuraciN-list-item150" ui-sref="csJurDicasUNLaR.horario2CProcuraciN()">
        <i class="icon ion-calendar"></i>2° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>