<ion-view title="Horario Ingreso Gestión Jurídica" id="page85" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="horarioIngresoGestiNJurDica-list195">
      <ion-item class="item-divider" id="horarioIngresoGestiNJurDica-list-item-divider12"> Próximamente...</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>