<ion-view title="Horario 2°C Subastador y Martillero Público" id="page94" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="horario2CSubastadorYMartilleroPBlico-list204">
      <ion-item class="item-divider" id="horario2CSubastadorYMartilleroPBlico-list-item-divider26"> Próximamente...</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>