<ion-view title="Horarios de Gestión Jurídica" id="page77" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/rrmwu5nCRfekziRhFocf_Horarios.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeGestiNJurDica-list163">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeGestiNJurDica-list-item161" ui-sref="csJurDicasUNLaR.horarioIngresoGestiNJurDica()">
        <i class="icon ion-calendar"></i>Cursillo de Ingreso
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeGestiNJurDica-list164">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeGestiNJurDica-list-item162" ui-sref="csJurDicasUNLaR.horario1CGestiNJurDica()">
        <i class="icon ion-calendar"></i>1° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeGestiNJurDica-list165">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeGestiNJurDica-list-item164" ui-sref="csJurDicasUNLaR.horario2CGestiNJurDica()">
        <i class="icon ion-calendar"></i>2° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>