<ion-view title="Horarios de Subastador y Martillero Público" id="page78" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/rrmwu5nCRfekziRhFocf_Horarios.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeSubastadorYMartilleroPBlico-list166">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeSubastadorYMartilleroPBlico-list-item165" ui-sref="csJurDicasUNLaR.horarioIngresoSubastadorYMartilleroPBlico()">
        <i class="icon ion-calendar"></i>Cursillo de Ingreso
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeSubastadorYMartilleroPBlico-list167">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeSubastadorYMartilleroPBlico-list-item166" ui-sref="csJurDicasUNLaR.horario1CSubastadorYMartilleroPBlico()">
        <i class="icon ion-calendar"></i>1° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horariosDeSubastadorYMartilleroPBlico-list168">
      <ion-item class="item-icon-left item-icon-right dark" id="horariosDeSubastadorYMartilleroPBlico-list-item167" ui-sref="csJurDicasUNLaR.horario2CSubastadorYMartilleroPBlico()">
        <i class="icon ion-calendar"></i>2° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>