<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/6yIweR2ETNSpzhlWh8bF_LogoJuridicas5.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <table style="margin-left: auto; margin-right: auto;">
      <tbody>
        <tr>
          <td>
            <a style="display:block;" ui-sref="csJurDicasUNLaR.abogacA">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/gtz4j3a4SY2k3wjavkRT_Bot1.png" alt="" width="100%" height="100%">
            </a>
          </td>
          <td>
            <a style="display:block;" ui-sref="csJurDicasUNLaR.escribanA">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/KaJToECgQy2H35ZozMV8_Bot2.png" alt="" width="100%" height="100%
">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a style="display:block;" ui-sref="csJurDicasUNLaR.procuraciN">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/M4jaQA1R2y6e6KDD0ZxD_Bot3.png" alt="" width="100%" height="100%
">
            </a>
          </td>
          <td>
            <a style="display:block;" ui-sref="csJurDicasUNLaR.gestiNJurDica">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/c0wAJWT0SEutsj5cAvjV_Bot4.png" alt="" width="100%" height="100%
">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="margin-left: auto; margin-right: auto;">
      <tbody>
        <tr>
          <td>
            <a style="display:block;" ui-sref="csJurDicasUNLaR.subastadorYMartilleroPBlico">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/KXkEV1oCQaur5kqRMNJ5_Bot5.png" alt="" width="100%" height="100%">
            </a>
          </td>
          <td>
            <a style="display:block;" ui-sref="csJurDicasUNLaR.calendarioAcadMico">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/Fr3t0ujR1eNltenkj3jA_Bot6.png" alt="" width="100%" height="100%
">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a style="display:block;" ui-sref="csJurDicasUNLaR.gUAUNLaR">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/JUpRH3SSmuvxTk3V09le_Bot7.png" alt="" width="100%" height="100%
">
            </a>
          </td>
          <td>
            <a style="display:block;" ui-sref="csJurDicasUNLaR.acercaDeLaApp">
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/4QN2Y6tlSDOnqDwlkkSk_Bot8.png" alt="" width="100%" height="100%
">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>