<ion-view title="Introducción al Derecho" id="page13" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="introducciNAlDerecho-list14">
      <ion-item class="item-icon-right dark" id="introducciNAlDerecho-list-item84">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>