<ion-view title="Perfil del Graduado de Escribanía" id="page64">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Escribano Publico es el funcionario público investido por la ley para dar fe de los negocios jurídicos que se celebren ante él, adaptando la voluntad de las partes con las normas jurídicas, dándole solidez formal, fecha cierta y autenticidad.</div>
      <div>&nbsp;</div>
      <div>Es un graduado universitario, con sólida formación jurídica, notarial y registral que debe imbuirse de los valores de justicia y respeto a la verdad.</div>
      <div>Una de las características importantes de la profesión es la imparcialidad en su ejercicio frente a los requerientes.</div>
      <div>&nbsp;</div>
      <div>Tiene la capacidad para utilizar los conocimientos científicos e instrumentales en la resolución de problemas referidos a la aplicación de la función notarial.</div>
      <div>&nbsp;</div>
      <div>Debe disponer de una actitud crítica y flexible que le permita reconocer la necesidad de actualización de sus conocimientos sujetos a la evolución del derecho.</div>
      <div>&nbsp;</div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>