<ion-view title="Perfil del Graduado de Subastador y Martillero" id="page70">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>La Formación Académica del Técnico Universitario de Subastador y&nbsp;Martillero Público, graduado en la Universidad Nacional de La Rioja,&nbsp;estructura la apropiación del siguiente perfil, en términos de conocimientos,&nbsp;capacidades, habilidades
        y actitudes:</div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Poseerá una concepción amplia, humanística y ética de la actividad&nbsp;profesional, que integra el conocimiento científico de la realidad jurídica y&nbsp;económica con los valores morales.</p>
        <p>
          <span style="color: #ff6600;">►</span> Dominará los procedimientos pragmáticos y funcionales para la&nbsp;resolución de los problemas patrimoniales más comunes derivados de las&nbsp;contrataciones entre las personas y de otras causas que los generen.</p>
        <p>
          <span style="color: #ff6600;">►</span> Adquirirá conocimiento de las principales herramientas que utiliza la&nbsp;empresa y el empresario para desarrollar su actividad comercial.</p>
        <p>
          <span style="color: #ff6600;">►</span> Poseerá un completo dominio de los programas informáticos básicos y de&nbsp;los específicos aplicables al ámbito jurídico y subastas.</p>
        <p>
          <span style="color: #ff6600;">►</span> Tendrá conocimientos y desarrollará competencias relativas a los&nbsp;parámetros de valuación de los bienes susceptibles de ser subastados o&nbsp;disponibles para su venta o locación.</p>
        <p>
          <span style="color: #ff6600;">►</span> Tendrá un efectivo dominio de los mecanismos del sistema registral&nbsp;inmobiliario y mobiliario.</p>
        <p>
          <span style="color: #ff6600;">►</span> Conocerá y manejará las normas técnicas que regulan las tasaciones y&nbsp;valuaciones.</p>
        <p>
          <span style="color: #ff6600;">►</span> Tendrá conocimiento de los entes administrativos y el alcance de los&nbsp;contratos con el Estado.</p>
        <p>
          <span style="color: #ff6600;">►</span> Poseerá un conocimiento de los conceptos generales del marketing a fin&nbsp;de comprender los fenómenos de comercialización a partir de sus&nbsp;categorías teóricas básicas.</p>
        <p>
          <span style="color: #ff6600;">►</span> Poseerá un completo dominio y manejo del procedimiento y la técnica de&nbsp;la subasta judicial y extrajudicial.</p>
        <p>
          <span style="color: #ff6600;">►</span> Conocerá sobre el diseño y desarrollo y pautas eficaces de comunicación&nbsp;y promoción del mercado inmobiliario.</p>
      </div>
      <div>&nbsp;</div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>