<ion-view title="Perfil del Graduado de Gestión Jurídica" id="page68">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>La carrera de Técnico Universitario en Gestión Jurídica otorgara al&nbsp;futuro técnico una formación que lo capacitara para asistir al abogado y al&nbsp;escribano en la administración de estudios jurídicos y notariales, con&nbsp;énfasis en la gestión
        relativa a las finanzas (pagos y cobranzas, selección,&nbsp;capacitación y reclutamiento de recursos humanos), la planificación&nbsp;estratégica del negocio y la comercialización del servicio.</div>
      <div>&nbsp;</div>
      <div>Esta carrera capacitara al egresado para operar eficazmente como&nbsp;asistente en las diferentes funciones que tienen lugar en los organismos y&nbsp;las entidades que forman parte de la administración de justicia y que no&nbsp;requieran – constitucional
        o legalmente – poseer título de abogado,&nbsp;procurador o escribano. El futuro técnico desarrollara la competencia&nbsp;idónea para desempeñarse en los departamentos y secciones jurídicas y&nbsp;legales de la administración pública nacional,
        provincial y municipal y en&nbsp;la actividad privada.</div>
      <div>&nbsp;</div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>