<ion-view title="Perfil del Graduado de Procuración" id="page66">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Objetivos de la Carrera</span>
      </h4>
      <div>Se propone que el graduado de Procurador:</div>
      <div>&nbsp;</div>
      <div>
        <span style="color: #ff6600;">► </span>Adquiera las competencias necesarias para la representación de terceros en juicio.</div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Colabore con el abogado en el trámite jurídico procesal.</p>
        <p>
          <span style="color: #ff6600;">►</span> Tenga plenos conocimientos para el mejor desarrollo de los procesos de mero trámite.</p>
        <p>
          <span style="color: #ff6600;">►</span> Logre una actitud crítica y reflexiva que permita conocer la necesidad de actualización permanente de los conocimientos, atento la constante evolución del derecho.</p>
        <p>
          <span style="color: #ff6600;">►</span> Desarrolle un sentido estricto de responsabilidad y ética profesional.</p>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Perfil del Título</span>
      </h4>
      <div>El Procurador es un graduado universitario, con sólida formación jurídica y estará capacitado para representar a terceros en juicio, con el patrocinio de un letrado.</div>
      <div>&nbsp;</div>
      <div>Se le reconoce, asimismo, la facultad de efectuar en los procesos, peticiones de mero trámite y encargarse de distintas tramitaciones.</div>
      <div>&nbsp;</div>
      <div>Podrá realizar los trámites procesales, para los cuales lo habilitan las leyes de la materia, gestionar tramitaciones administrativas ante las distintas reparticiones públicas o privadas, cómputo de plazos, vencimientos.</div>
      <div>&nbsp;</div>
      <div>Tiene que, por consiguiente, lograr una sólida formación y dominio de los contenidos de las asignaturas codificadas, como Derecho Civil, Derecho Comercial, Derecho Penal y otras, en las cuales se basa la carrera de Abogacía.</div>
      <div>&nbsp;</div>
      <div>Debe adquirir un sentido estricto de responsabilidad e imbuir de contenidos éticos todo el proceso de aprendizaje, que le permitirá desenvolverse eficazmente en las tareas encomendadas.</div>
      <div>&nbsp;</div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>