<ion-view title="Plan de Gestión Jurídica" id="page62" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/YcMwFbM5TRyGBk91zflM_Tec.GestinJurdica.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="csJurDicasUNLaR.perfilDelGraduadoDeGestiNJurDica()" id="planDeGestiNJurDica-button14" style="font-weight:500;color:#FD6037;border-radius:10px 10px 10px 10px;" class="button button-stable button-block icon ion-android-checkmark-circle">
    Perfil del Graduado</a>
    <a ui-sref="csJurDicasUNLaR.alcancesDelTTuloDeGestiNJurDica()" id="planDeGestiNJurDica-button15" style="font-weight:500;color:#FD6037;border-radius:10px 10px 10px 10px;" class="button button-stable button-block icon ion-android-checkmark-circle">
    Alcances del Título</a>
  </ion-content>
</ion-view>