<ion-view title="Programas de Escribanía" id="page95" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="programasDeEscribanA-list157">
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item157" href-inappbrowser="https://drive.google.com/open?id=1scO2vDPHkXpldDvkz_6k_V0BGXoAdUj3">
        <i class="icon ion-ios-list-outline"></i>Introducción al Derecho</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item158" href-inappbrowser="https://drive.google.com/open?id=1H9b_EXrsLi-BRawDiWNUWhxqSp6s1S7N">
        <i class="icon ion-ios-list-outline"></i>Derecho Romano</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item159" href-inappbrowser="https://drive.google.com/open?id=1V1tZlEFX4qBCkQKHFXWe75sHNQn_XJLb">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil I (Parte General)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item189" href-inappbrowser="https://drive.google.com/open?id=1aq2NUDNTdx9ntMN9es6YtWJUK6IzFWZg">
        <i class="icon ion-ios-list-outline"></i>Economía Política</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item194" href-inappbrowser="https://drive.google.com/open?id=1PtzgOsfR4DyRFaJrVJUDqq3d0QZYTQwY">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil II (Obligaciones)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item195" href-inappbrowser="https://drive.google.com/open?id=1UikWtVUk28yhYyE8bdEh2R0lpBOqvc6P">
        <i class="icon ion-ios-list-outline"></i>Derecho Político</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item206" href-inappbrowser="https://drive.google.com/open?id=1cKMwfPGo848ZlOfTZ1o31YtlKFFu-Fti">
        <i class="icon ion-ios-list-outline"></i>Finanzas y Derecho Tributario</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item207" href-inappbrowser="https://drive.google.com/open?id=1m7oRCkr21kn88xoAHfoNAes3CGcrdqm3">
        <i class="icon ion-ios-list-outline"></i>Derecho Comercial I</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item211" href-inappbrowser="https://drive.google.com/open?id=1UfEkABgVqssydSoOLVa0zqPPC9YiGOcp">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil III (Contratos)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item213" href-inappbrowser="https://drive.google.com/open?id=1gFZXKG48qxrUYHJX9-hXLn_pqN2pCqf1">
        <i class="icon ion-ios-list-outline"></i>Derecho Comercial II (Sociedades)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item214" href-inappbrowser="https://drive.google.com/open?id=1Ba0cLme_Wi1zMfIksdww-WUTTJtdOzgk">
        <i class="icon ion-ios-list-outline"></i>Derecho Constitucional</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item225" href-inappbrowser="https://drive.google.com/open?id=15Hb79g5THlmt8ZZ6QQPVIIvci3yn1ptE">
        <i class="icon ion-ios-list-outline"></i>Derecho Penal I (Parte General) A</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item227" href-inappbrowser="https://drive.google.com/open?id=1Qio6esa4G-QRHtstKBb-35ImGRdJSKPM">
        <i class="icon ion-ios-list-outline"></i>Derecho Penal I (Parte General) B</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item228" href-inappbrowser="https://drive.google.com/open?id=1htCj8dlQ3J4M-5yfk50SlkU4Hz2MaUJg">
        <i class="icon ion-ios-list-outline"></i>Derecho Internacional Público y Comunitario</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item232" href-inappbrowser="https://drive.google.com/open?id=16Y0AmjyMsJL5xcu_EVXoPoqyBt7XwpZz">
        <i class="icon ion-ios-list-outline"></i>Derecho Laboral y Previcional</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item234" href-inappbrowser="https://drive.google.com/open?id=1LqJ6GhfRPkYFh_tylYYOPjj95sc20zFQ">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil IV (Derechos Reales)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item235" href-inappbrowser="https://drive.google.com/open?id=1h1PSyEuuu_Fabd7iQLtSf6LMlpJbadmp">
        <i class="icon ion-ios-list-outline"></i>Derecho Comercial III (Quiebras)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item237" href-inappbrowser="https://drive.google.com/open?id=1_MRCJcEozDvbuyllfu52tjhYY6_TYrQ3">
        <i class="icon ion-ios-list-outline"></i>Derecho Público Provincial y Municipal</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item238" href-inappbrowser="https://drive.google.com/open?id=1CurkNwWFXv-4Z05iS2pdEZHiyVzgipKf">
        <i class="icon ion-ios-list-outline"></i>Derecho Penal II (Parte Especial)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item239" href-inappbrowser="https://drive.google.com/open?id=1uaCEIkJKQv_x2UVYtvHBwNsk6axR_5sc">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Civil y Laboral</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item240" href-inappbrowser="https://drive.google.com/open?id=1UDYQJceoNS_SYeAebR1YSoHnEcg0LPkH">
        <i class="icon ion-ios-list-outline"></i>Derecho Agrario Forestal y Minero</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item241" href-inappbrowser="https://drive.google.com/open?id=1hLAUB4WVDm44xWbuSlXhOHIMsHUHxuEB">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil V (Familia y Sucesiones)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item242" href-inappbrowser="https://drive.google.com/open?id=1qApTrd4l_tW01G4JSLfn73iyRVoonRMz">
        <i class="icon ion-ios-list-outline"></i>Derecho de Navegación</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item243" href-inappbrowser="https://drive.google.com/open?id=1g042lnNMB7bDmBvAAnQjYl2tqaCyAcW3">
        <i class="icon ion-ios-list-outline"></i>Derecho Administrativo</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item245" href-inappbrowser="https://drive.google.com/open?id=11Z1xSeLJcBSQ_WIzfRPkvM_0g0_Fhb7I">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Penal A</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item246" href-inappbrowser="https://drive.google.com/open?id=1hDWQnAvMVhAKrdJ4jhbfgE7ABA5P9tQe">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Penal B</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item247" href-inappbrowser="https://drive.google.com/open?id=16IVnqhBrDnpnXs5NP1TbHhxDjoNbwT0P">
        <i class="icon ion-ios-list-outline"></i>Derecho Internacional Privado y Comunitario</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item248">
        <i class="icon ion-ios-list-outline"></i>Derecho Notarial I</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item249">
        <i class="icon ion-ios-list-outline"></i>Práctica Notarial I</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item250">
        <i class="icon ion-ios-list-outline"></i>Derecho Notarial II</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item356">
        <i class="icon ion-ios-list-outline"></i>Práctica Notarial II</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item360">
        <i class="icon ion-ios-list-outline"></i>Derecho Registral</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item359">
        <i class="icon ion-ios-list-outline"></i>Derecho Administrativo Notarial</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item358">
        <i class="icon ion-ios-list-outline"></i>Teoría General del Negocio Jurídico</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeEscribanA-list-item361">
        <i class="icon ion-ios-list-outline"></i>Ética Profesional y Práctica Notarial</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>