<ion-view title="Programas de Procuración" id="page96" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="programasDeProcuraciN-list158">
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item251" href-inappbrowser="https://drive.google.com/open?id=1scO2vDPHkXpldDvkz_6k_V0BGXoAdUj3">
        <i class="icon ion-ios-list-outline"></i>Introducción al Derecho</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item252" href-inappbrowser="https://drive.google.com/open?id=1H9b_EXrsLi-BRawDiWNUWhxqSp6s1S7N">
        <i class="icon ion-ios-list-outline"></i>Derecho Romano</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item253" href-inappbrowser="https://drive.google.com/open?id=1V1tZlEFX4qBCkQKHFXWe75sHNQn_XJLb">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil I (Parte General)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item256" href-inappbrowser="https://drive.google.com/open?id=1aq2NUDNTdx9ntMN9es6YtWJUK6IzFWZg">
        <i class="icon ion-ios-list-outline"></i>Economía Política</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item257" href-inappbrowser="https://drive.google.com/open?id=1PtzgOsfR4DyRFaJrVJUDqq3d0QZYTQwY">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil II (Obligaciones)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item258" href-inappbrowser="https://drive.google.com/open?id=1UikWtVUk28yhYyE8bdEh2R0lpBOqvc6P">
        <i class="icon ion-ios-list-outline"></i>Derecho Político</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item259" href-inappbrowser="https://drive.google.com/open?id=1cKMwfPGo848ZlOfTZ1o31YtlKFFu-Fti">
        <i class="icon ion-ios-list-outline"></i>Finanzas y Derecho Tributario</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item260" href-inappbrowser="https://drive.google.com/open?id=1m7oRCkr21kn88xoAHfoNAes3CGcrdqm3">
        <i class="icon ion-ios-list-outline"></i>Derecho Comercial I</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item263" href-inappbrowser="https://drive.google.com/open?id=1UfEkABgVqssydSoOLVa0zqPPC9YiGOcp">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil III (Contratos)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item264" href-inappbrowser="https://drive.google.com/open?id=1gFZXKG48qxrUYHJX9-hXLn_pqN2pCqf1">
        <i class="icon ion-ios-list-outline"></i>Derecho Comercial II (Sociedades)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item265" href-inappbrowser="https://drive.google.com/open?id=1Ba0cLme_Wi1zMfIksdww-WUTTJtdOzgk">
        <i class="icon ion-ios-list-outline"></i>Derecho Constitucional</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item266" href-inappbrowser="https://drive.google.com/open?id=15Hb79g5THlmt8ZZ6QQPVIIvci3yn1ptE">
        <i class="icon ion-ios-list-outline"></i>Derecho Penal I (Parte General) A</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item267" href-inappbrowser="https://drive.google.com/open?id=1Qio6esa4G-QRHtstKBb-35ImGRdJSKPM">
        <i class="icon ion-ios-list-outline"></i>Derecho Penal I (Parte General) B</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item269" href-inappbrowser="https://drive.google.com/open?id=16Y0AmjyMsJL5xcu_EVXoPoqyBt7XwpZz">
        <i class="icon ion-ios-list-outline"></i>Derecho Laboral y Previcional</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item270" href-inappbrowser="https://drive.google.com/open?id=1LqJ6GhfRPkYFh_tylYYOPjj95sc20zFQ">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil IV (Derechos Reales)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item271" href-inappbrowser="https://drive.google.com/open?id=1h1PSyEuuu_Fabd7iQLtSf6LMlpJbadmp">
        <i class="icon ion-ios-list-outline"></i>Derecho Comercial III (Quiebras)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item272" href-inappbrowser="https://drive.google.com/open?id=1_MRCJcEozDvbuyllfu52tjhYY6_TYrQ3">
        <i class="icon ion-ios-list-outline"></i>Derecho Público Provincial y Municipal</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item273" href-inappbrowser="https://drive.google.com/open?id=1CurkNwWFXv-4Z05iS2pdEZHiyVzgipKf">
        <i class="icon ion-ios-list-outline"></i>Derecho Penal II (Parte Especial)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item274" href-inappbrowser="https://drive.google.com/open?id=1uaCEIkJKQv_x2UVYtvHBwNsk6axR_5sc">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Civil y Laboral</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item275" href-inappbrowser="https://drive.google.com/open?id=1UDYQJceoNS_SYeAebR1YSoHnEcg0LPkH">
        <i class="icon ion-ios-list-outline"></i>Derecho Agrario Forestal y Minero</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item276" href-inappbrowser="https://drive.google.com/open?id=1hLAUB4WVDm44xWbuSlXhOHIMsHUHxuEB">
        <i class="icon ion-ios-list-outline"></i>Derecho Civil V (Familia y Sucesiones)</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item277" href-inappbrowser="https://drive.google.com/open?id=1qApTrd4l_tW01G4JSLfn73iyRVoonRMz">
        <i class="icon ion-ios-list-outline"></i>Derecho de Navegación</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item278" href-inappbrowser="https://drive.google.com/open?id=1g042lnNMB7bDmBvAAnQjYl2tqaCyAcW3">
        <i class="icon ion-ios-list-outline"></i>Derecho Administrativo</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item280" href-inappbrowser="https://drive.google.com/open?id=11Z1xSeLJcBSQ_WIzfRPkvM_0g0_Fhb7I">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Penal A</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item281" href-inappbrowser="https://drive.google.com/open?id=1hDWQnAvMVhAKrdJ4jhbfgE7ABA5P9tQe">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Penal B</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeProcuraciN-list-item285" href-inappbrowser="https://drive.google.com/open?id=1NCgZIKvraZVKKj0tZNFzt5ASLNrh9xB4">
        <i class="icon ion-ios-list-outline"></i>Ética Profesional y Práctica Forense</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>