<ion-view title="Programas de Subastador y Martillero Público" id="page99" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="programasDeSubastadorYMartilleroPBlico-list161">
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item362">
        <i class="icon ion-ios-list-outline"></i>Introduc. al Conocimiento Científico</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item363">
        <i class="icon ion-ios-list-outline"></i>Prof. del Técnico Subastador y Martillero</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item365">
        <i class="icon ion-ios-list-outline"></i>Derecho Privado</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item364">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item366">
        <i class="icon ion-ios-list-outline"></i>Introducción a la Administración</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item367">
        <i class="icon ion-ios-list-outline"></i>Introducción a la Ciencia Jurídica</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item368">
        <i class="icon ion-ios-list-outline"></i>Derecho Público General</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item369">
        <i class="icon ion-ios-list-outline"></i>Contabilidad y Gestión Financiera</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item370">
        <i class="icon ion-ios-list-outline"></i>Derecho Público Especial</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item371">
        <i class="icon ion-ios-list-outline"></i>Práctica Jurídica Orientada I</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item374">
        <i class="icon ion-ios-list-outline"></i>Principios Fundamentales de los Derechos Reales</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item373">
        <i class="icon ion-ios-list-outline"></i>Ingles</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item372">
        <i class="icon ion-ios-list-outline"></i>Ofimática (Informática y Gestión de oficina))</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item378">
        <i class="icon ion-ios-list-outline"></i>Derecho Administrativo</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item375">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Civil y Comercial</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item376">
        <i class="icon ion-ios-list-outline"></i>Ética - Técnico Profesional</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item377">
        <i class="icon ion-ios-list-outline"></i>Tasación y Valuación parte General</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item379">
        <i class="icon ion-ios-list-outline"></i>Procedimientos Relacionados con la Subasta Judicial y Prácticas Registrales</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item380">
        <i class="icon ion-ios-list-outline"></i>Práctica Jurídica Orientada II</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item381">
        <i class="icon ion-ios-list-outline"></i>Mediación y Resolución Alternativa de Conflictos</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item382">
        <i class="icon ion-ios-list-outline"></i>Técnicas de Ventas, Negociación y Marketing</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item384">
        <i class="icon ion-ios-list-outline"></i>Seminario para Trabajo Final</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item383">
        <i class="icon ion-ios-list-outline"></i>Práctica Jurídica Orientada III</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeSubastadorYMartilleroPBlico-list-item385">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>