<ion-view title="Programas de Gestión Jurídica" id="page97" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="programasDeGestiNJurDica-list159">
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item286">
        <i class="icon ion-ios-list-outline"></i>Introduc. al Conocimiento del Derecho</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item287">
        <i class="icon ion-ios-list-outline"></i>Función del Técnico en Gestión Jurídica</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item288">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item289">
        <i class="icon ion-ios-list-outline"></i>Derecho Privado</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item290">
        <i class="icon ion-ios-list-outline"></i>Introducción a la Administración</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item291">
        <i class="icon ion-ios-list-outline"></i>Introducción a las Ciencias Jurídicas</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item292">
        <i class="icon ion-ios-list-outline"></i>Derecho Público General</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item293">
        <i class="icon ion-ios-list-outline"></i>Contabilidad y Gestión Financiera</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item294">
        <i class="icon ion-ios-list-outline"></i>Derecho Público Especial</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item295">
        <i class="icon ion-ios-list-outline"></i>Práctica de Gestión Jurídica I</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item296">
        <i class="icon ion-ios-list-outline"></i>Ofimática (Informática y Gestión de oficina))</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item297">
        <i class="icon ion-ios-list-outline"></i>Ingles</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item298">
        <i class="icon ion-ios-list-outline"></i>Administración y Marketing</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item299">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Civil y Laboral</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item300">
        <i class="icon ion-ios-list-outline"></i>Derecho Procesal Civil y Administrativo</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item301">
        <i class="icon ion-ios-list-outline"></i>Derecho Informático</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item302">
        <i class="icon ion-ios-list-outline"></i>Dinámica de Grupo</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item303">
        <i class="icon ion-ios-list-outline"></i>Práctica de Gestión Jurídica II</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item304">
        <i class="icon ion-ios-list-outline"></i>Gestión de la Calidad en la Admin. Pública</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item305">
        <i class="icon ion-ios-list-outline"></i>Mediación y Resolución Alternativa de Conflictos</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item306">
        <i class="icon ion-ios-list-outline"></i>Ética del Técnico en Gestión Jurídica</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item307">
        <i class="icon ion-ios-list-outline"></i>Práctica de Gestión Jurídica III</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item308">
        <i class="icon ion-ios-list-outline"></i>Seminario para Trabajo Final</ion-item>
      <ion-item class="item-icon-left assertive" id="programasDeGestiNJurDica-list-item309">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>