<ion-view title="Subastador y Martillero Público" id="page59" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/rp2kdSZFS7iH2Rf2C0P8_FondoApp23.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="subastadorYMartilleroPBlico-button-bar6" class="button-bar"></div>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <img src="img/NkRPTMwYQyeYUDQptdvu_TxtTSyMP1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="subastadorYMartilleroPBlico-list149">
      <ion-item class="item-avatar dark" id="subastadorYMartilleroPBlico-list-item142" ui-sref="csJurDicasUNLaR.planDeSubastadorYMartillero()">
        <img src="img/0ahDYpiZTI6NhfVFkm32_006tui.png">
        <h2dark>Plan de Estudios</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="subastadorYMartilleroPBlico-list150">
      <ion-item class="item-avatar dark" id="subastadorYMartilleroPBlico-list-item143" ui-sref="csJurDicasUNLaR.horariosDeSubastadorYMartilleroPBlico()">
        <img src="img/xyQU3nwNQmCsGRCoVFy8_005tui.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="subastadorYMartilleroPBlico-list151">
      <ion-item class="item-avatar dark" id="subastadorYMartilleroPBlico-list-item144" ui-sref="csJurDicasUNLaR.programasDeSubastadorYMartilleroPBlico()">
        <img src="img/rhmSGYUeRCqhx7lYqerW_004tui.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="subastadorYMartilleroPBlico-list152">
      <ion-item class="item-avatar dark" id="subastadorYMartilleroPBlico-list-item145" ui-sref="csJurDicasUNLaR.bibliotecaDigitalDeSubastadorYMartilleroPBlico()">
        <img src="img/CujgyT5lTEWxNRX8wNgO_003tui.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>